/* Grid CSS */
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 7; }
    .sidebar-menu { grid-area: 2 / 1 / 11 / 2; }
    .filter-gallery { grid-area: 2 / 2 / 11 / 7; }
    .filter-maker { grid-area: 2 / 2 / 11 / 7; }
    .welcome { grid-area: 2 / 1 / 11 / 7; }



/* Face Filter CSS */

#jeeFaceFilterCanvas {
    z-index: 10;
    max-height: 75%;
    max-width: 75%;
    left: 50%;
    top: 50%;
    transform:  rotateY(180deg);
    display: inline-block;
    /* width: 100vmin; */
    /* transform: translate(-50%, -50%) */
    /* position: absolute;  */
    min-width:590px;
  } 

/* Header CSS */
.header{
    background-color: rgb(0, 200, 255);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

#app-name{
    display:inline-block;
    margin-left: 40px;

}

.user-greeting{
    margin-left: 900px;
}

/* Welcome Page CSS */

.welcome{
    text-align: center;
}

/* Sidebar Menu CSS */
.sidebar-menu{
    background-color: rgb(255, 219, 129);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Filter Maker CSS */
.filter-maker{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-shrink: 0;
}

#filter-thumb {
    max-width: 330px;
}

/* Filter Try On CSS */
.filter-try-on{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-shrink: 0;
}

/* Form CSS */

#logout-btn{
    margin-right: 40px;
}

#login-form{
    margin-right: 40px;
}

#drawing-form {
    text-align: center;
}

#form-input{
    margin: 10px;
}