/* Grid CSS */
.parent {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 7; }
    .filter-gallery { grid-area: 2 / 1 / 13 / 7; }
    .user-gallery { grid-area: 2 / 1 / 14 / 7; }
    .user-profile { grid-area: 2 / 1 / 14 / 7; }
    .filter-maker { grid-area: 2 / 1 / 14 / 7; }
    .welcome { grid-area: 2 / 1 / 15 / 7; }
    .edit-account { grid-area: 2 / 1 / 14 / 7; }

/* Face Filter CSS */

#jeeFaceFilterCanvas {
    z-index: 10;
    max-height: 75%;
    max-width: 75%;
    left: 50%;
    top: 50%;
    transform:  rotateY(180deg);
    display: inline-block;
    min-width:590px;
  } 

.camera-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1%;
    margin: 0px 10px 0px 10px;
    padding:30px 30px 0px 30px;
    text-align: center;
    max-height: 680px;
    color: rgb(84, 84, 84);
}

/* Header CSS */
.header-container{
    min-width: 2000px;
}

.header{
    /* background-color: rgb(255, 255, 255); */
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-name{
    margin: 10px 20px 15px 20px;
    width:190px;
}

.header a {
    color: rgb(255, 110, 214);
    text-decoration: none;
}


#create-btn {
    margin: 15px 20px 15px 20px;
    margin-left: 300px;
}

.header-avatar{
    border-radius: 50%;
    max-width: 32px;
    margin: 0px 40px 0px 20px;
}

.header-avatar:hover{
    cursor: pointer;
}

/* Welcome Page CSS */

.welcome{
    background-image: linear-gradient(180deg,white, rgb(255, 139, 236),rgb(244, 122, 255), rgb(0, 115, 255));
}

.welcome-horizontal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}

.welcome-gif {
    width: 450px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5%;
    margin: 0px 80px 100px 0px;
}

.welcome-text {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 40pt;
    width: 550px;
    margin: 0px 180px 0px 0px;
}

.welcome-subtext{
    display: inline-block;
    color: rgb(255, 255, 255);
    width: 350px;
}

.welcome-set{
    margin: 100px 0px 250px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.welcome-footer{
    /* margin:-60px auto 0px auto; */
    color: rgb(255, 255, 255);
    font-size: 13pt;
    text-align: center;
}

.welcome-footer a {
    color: rgb(255, 255, 255);
}

/* Filter Maker CSS */
.filter-maker{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top:50px;
}

.drawing-form-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1%;
    margin: 50px 80px 0px 0px;
    padding:30px 30px 0px 30px;
    text-align: center;
    height: 500px;
    color: rgb(84, 84, 84);
}

/* Filter Gallery CSS */

.title-search-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0px auto 0px auto; 
} 

.filter-gallery{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top:20px;
}

#filter-thumb {
    max-width: 150px;
    min-width: 150px;
    margin:10px 0px 0px 0px;

}

#filter-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex start;
    overflow: auto;
    height: 580px;
    max-width: 700px;
    min-width: 700px;
}

#delete-button {
    margin: 10px;
}

.centered-div {
    text-align: center;
    color: rgb(84, 84, 84);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.filter-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1%;
    margin: 10px 10px 10px 10px;
    max-height: 270px;
    min-height: 270px;
    text-align: center;
    max-width: 200px;
    min-width: 200px;
}

.filter-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.filter-card-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.filter-name{
    overflow: hidden;
    max-width: 8ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filter-username{
    overflow: hidden;
    max-width: 11ch;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

/* Form CSS */

#logout-btn{
    margin-right: 40px;
}

#login-btn{
    margin-left: 1050px;
}

.drawing-form {
    text-align: center;
}

.save-filter-card {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3%;
    margin: 10px 10px 20px 10px;
}

#form-input {
    margin:20px 0px 20px 0px;
}

input[type="range"] {
	-webkit-appearance: none;
    border: 3;
    background: #ebebeb;
    outline: 3;
    height: 25px;
    width: 100%;
    border-radius: 500px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: rgb(255, 110, 214);
    cursor: pointer;
}

input[type="color"] {
	border: none;
	width: 60px;
    height: 30px;
    border-radius: 5%;
}


input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5%;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5%;
}

/* User Index CSS */

.user-gallery {
    max-height: 700px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    color: rgb(84, 84, 84);
}

.title-search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 40px auto 20px auto; 
}
.user-gallery::-webkit-scrollbar {
    display: none;
  }

.user-card {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
 .user-card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
 }
.filter-sample{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.user-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.profile-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 670px;
    min-width: 670px;
    max-height: 350px;
}

.profile-avatar {
    border-radius: 50%;
    max-width:150px;
    margin: 0px 50px 50px 50px
}

.user-details {
    margin: 80px 250px 50px 0px
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}

/* Edit Account CSS */

.edit-account{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 100px 350px 0px 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1%;
    padding:50px 30px 30px 30px;
    max-height: 500px;
    max-width: 700px;
    min-width: 700px;
    color: rgb(84, 84, 84);
}

.edit-account-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 0px 0px;
}

.account-avatar {
    border-radius: 50%;
    max-width:150px;
    margin: 80px 50px 50px 50px
}

.editable{
    width: 110px;
    display: inline-block;
    vertical-align: top;}

.account-bio{
    max-width: 150px;
    max-height: 50px;
    overflow:auto;
    display: inline-block;
}

.upload-modal {
    /* display: none; */
    position: fixed; 
    z-index: 1;  
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.upload-modal-content {
    background-color: #fefefe;
    margin: -60px auto 0px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: rgb(84, 84, 84);
}

.upload-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid rgb(47, 147, 255);
    display: inline-block;
    padding: 6px 6px;
    height: 33px;
    width: 150px;
    color:white ;
    background-color:rgb(47, 147, 255) ;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
}
/* Modal CSS */

.modal {
    /* display: none; */
    position: fixed; 
    z-index: 1;  
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    color: rgb(84, 84, 84);
}

/* Code Cemetery  */

/* fuOtN7jb90Gjsld1 */
